<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>9E6A073D-0AC3-4804-9105-50BA53EE9639.playgroundpage</string>
		<string>877DA9F6-4040-47DF-9308-CC95535602F7.playgroundpage</string>
		<string>485CA5F1-82D9-4E3D-99DA-65CCF8F5BDC9.playgroundpage</string>
		<string>C4152505-8287-4888-B759-18388E2EA0B7.playgroundpage</string>
		<string>E248A2F7-3AEA-4EAA-AF39-DE51128B848F.playgroundpage</string>
	</array>
</dict>
</plist>
